body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin-top: 100px;
    margin-bottom: auto;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    vertical-align: middle;

}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
}

label {
    font-weight: bold;
    color: #333;

}

input {
    width: 90%;

    border: 1px solid #ccc;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.search {
    width: 500px;
    background-color: #ccc;
}

.hcenter {
    text-align: center;
}

h3 {
    color: #000;
}

#btn-save {
    margin-top: 20px;
}

input[type="radio"] {
    width: auto
}

.submit {
    margin: 20px;
}

* {
    box-sizing: border-box;
}